@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root{
    --dark-background:#121212;
    --secondary:hsla(0, 0%, 100%, 0.08);
    --bordercolor:hsl(0, 0%, 18.82%);
    --iconh:30px;
    ---iconw:30px;
    --bordercolorbutton:hsl(0, 0%, 18.82%);
}

body::-webkit-scrollbar{
    width:0.25rem
}
body::-webkit-scrollbar-track{
background:black
}
body::-webkit-scrollbar-thumb{
background:red
}

input[type="text"] {
    outline: none
  }
  button{
    outline:none;
  }
  
nav{
    position: fixed;
    z-index: 1;
    background:var(--dark-background);
    width:100%;
    height:56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;

}
.start{
    display: flex;
    flex-direction: row;
align-items:center;
gap:20px;
padding-left: 28px;
}

.hamburgermenu{
height:var(--iconh);
width:var(--iconw);
color:white;
cursor:pointer;
}
.ytlogo{
   height:20px;
   width:auto;
   cursor:pointer;
}
.mid{
    display: flex;
    flex-direction: row;
align-items:center;
width: 56%;
}
.mid3{
    display: flex;
    flex-direction: row;
align-items:center;
width: 80%;
margin:auto;

}
.searchbar{
    outline:none;
    height: 38px;
    color: var(--bordercolor);
    width: 72%;
    border-radius: 40px 0 0 40px;
    background-color: transparent;
    /* margin-left: 32px; */
    padding: 0px 4px 0px 16px;
    /* box-shadow: 0 0 0 0; */
    border: 1px solid var(--secondary);
    font-size: 16px;
    color: white;
}
.searchbutton{
    outline:none;
    border-radius: 0 40px 40px 0;
background-color:var(--secondary);
cursor: pointer;
height: 40px;
width: 64px;
margin: 0;
border:1 px solid var(--bordercolor);
}
.last{
    display: flex;
    flex-direction: row;
align-items:center;
padding-right: 22px;
gap: 14px;
}
.signindiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding-inline: 15px;
    padding-block: 7px;
    color: #3ea6ff;
    font-weight: 500;
    font-size: 15px;
    border: 1px solid hsl(0deg 0% 100% / 21%);
    border-radius: 23px;
    gap: 8px;
    cursor:pointer;
}
.loggedindiv{
    display: flex;
    flex-direction: row;
align-items:center;
gap:30px;
padding-right: 17px;
}
.mid2{
display:none;
}
/* Keyframes for slide-in animation */
@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
  }
  
  /* Keyframes for slide-out animation */
  @keyframes slideOut {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  

  .fullscreen{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 100vh;
  }
.restofscreen{
    position: fixed;
    width: 100%;

    height: 101%;
    opacity:65%;
    background :rgb(0 0 0);
}


  /* Styles for the sidebar element */
  .drawer {
    position: fixed;
    top: 0px;
    left: 129px;
    width: 113%;
    height: 100vh;
    background: #1e1e1e;
    z-index: 2;
    -webkit-transition: left 1s cubic-bezier(1, 0.04, 0, 1.02);
    transform: translateX(-94%);
    opacity: 100%;
    box-shadow: 1px 0px 20px 1px #000000;
    display: flex;
    flex-direction: column;
    gap: 39px;
    align-items: flex-end;
    padding-right: 108px;
    color: white;
}

  /* Styles for slide-in animation */
  /* .drawer.slideIn {
    animation: slideIn 1s ease-in-out;
  }
  
  Styles for slide-out animation
  .drawer.slideOut {
    animation: slideOut 1s ease-in-out;
  } */

  .homediv2{
    display:flex;
    flex-direction:row;
    gap:7px;
    padding-top: 22px;
    cursor:pointer;
}
.shortsdiv2{
    display:flex;
    flex-direction:row;
    gap:7px;
    cursor:pointer;
}
.subscriptions2{
    display:flex;
    flex-direction:row;
    gap:7px;
    margin-right: -46px;
    cursor:pointer;
}
.library2{
    display:flex;
    flex-direction:row;
    gap:7px;
    cursor:pointer;
}


  @media only screen and (max-width: 740px) {
    .mid {
      display:none
    }
 
    .mid2{
        display:block;
    }
    .largediv2{
        width: 99%;
gap:10px;
    }
.thumbnails2{
    height: 139px;
    width: 254px;
}
.subsuggestedvids2{
    gap:0px;
}
.videoheadeer2{
    font-size: 15px;
    height: 62px;
        overflow: hidden;
}
}
  
